* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 19px;
    font-family: 'Geist', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-gutter: stable;
}

.wrapper {
    margin: auto;
    max-width: 700px;
    padding: 10px;
}
