.wrapper_form {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.column_left {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
}
.title {
    text-align: center;
}
.wrapper_input {
    display: flex;
    position: relative;
    align-items: center;
}
.eye {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
}
.column_right {
    padding: 10px 0 0 20px;
    border-left: 1px solid #eee;
}
.wrapper_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.message {
    margin-left: 10px;
    font-size: 14px;
    word-break: break-word;
}
.input_unerr {
    border: 1px solid black;
}
.input_err {
    border: 1px solid red;
}
.err {
    color: red;
}
