.wrapper_form {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    padding: 15px;
    max-width: 350px;
    margin: auto;
    gap: 10px;
}
.column_top {
    min-height: 85px;
    padding: 7px 0 0 7px;
    border-left: 1px solid #eee;
}
.message {
    font-size: 14px;
}
.column_bottom {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
}
.title {
    text-align: center;
}
.wrapper_input {
    display: flex;
    flex-direction: column;
    position: relative;
}
.label_title {
    cursor: text;
}
.eye {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
}

.wrapper_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.input_unerr {
    border: 1px solid black;
}
.input_err {
    border: 1px solid red;
}
.err {
    text-align: center;
    color: red;
    font-size: 15px;
}
.btns {
    color: #551a8b;
    text-decoration: underline;
}
