.wrapper_form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
    gap: 15px;
}
.title {
    text-align: center;
}

.sign_btn {
    color: #551a8b; /* Синий цвет как у ссылок */
    text-decoration: underline; /* Подчеркивание */
}
label {
    cursor: pointer;
}
input {
    padding-left: 5px;
    width: 100%;
}
.wrapper_btns {
    display: flex;
    flex-direction: column;
}
button {
    margin-top: 5px;
    cursor: pointer;
}
.link {
    text-align: center;
    margin-top: 10px;
}
.err {
    font-size: 16px;
    color: red;
}
