form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
label {
    cursor: pointer;
}
input {
    padding-left: 5px;
    width: 100%;
}
button {
    margin-top: 5px;
    cursor: pointer;
}
.err {
    color: red;
}
