form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperInput {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.sign_btn {
    color: #551a8b; /* Синий цвет как у ссылок */
    text-decoration: underline; /* Подчеркивание */
}
label {
    cursor: pointer;
}
input {
    padding-left: 5px;
    width: 100%;
}
button {
    margin-top: 5px;
    cursor: pointer;
}
.err {
    font-size: 16px;
    color: red;
}
