.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    bottom: -45px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    animation: wrapper ease-in-out 0.3s forwards;
    z-index: 100;
}
.textErr {
    margin-left: 10px;
}
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 183, 255);
    animation: line ease-out 10s forwards;
}
.closeError {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@keyframes wrapper {
    from {
        bottom: -45px;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}
@keyframes line {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
