.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(240, 240, 240);
    bottom: -45px;
    /* right: 10px; */
    border-radius: 10px;
    animation: wrapper ease-in-out 0.3s forwards;
    z-index: 100;
    gap: 5px;
    text-align: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px;
    font-size: 1px;
}
.icon {
    font-size: 17px;
}
.test {
    display: flex;
    gap: 5px;
}
.textErr {
    padding: 7px;
    font-size: 16px;
}
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 183, 255);
    animation: line ease-out 10s forwards;
}
.closeError {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
@keyframes wrapper {
    from {
        transform: translateX(-50%);
        bottom: -45px;
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        bottom: 10px;
        opacity: 1;
    }
}
@keyframes line {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
