.wrapperModalWindow {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 10;
}
.modalWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 180px;
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 110px;
    overflow: auto;
    padding: 10px;
}
.wrapperBtns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.btn {
    all: unset;
    text-align: center;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    color: #168ade;
    background-color: #ddeefc;
    font-weight: 200;
}
