.wrapper {
    position: absolute;
    top: -50px;
    left: 50%;
    display: flex;
    align-items: center;
    background-color: #eafbf3;
    border-radius: 10px;
    color: #4bae4f;
    padding: 10px 15px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-out forwards;
}
.checkMarker {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
@keyframes slideIn {
    from {
        top: -50px;
    }
    to {
        top: 10px;
    }
}
