* {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 20px;
    gap: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.go_back {
    align-self: flex-end;
    color: #64748b;
    font-size: 14px;
    text-decoration: underline;
}
.wrapper_radio_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    gap: 5px;
}
.radio_btn {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.remove_all_words {
    color: #cf222e;
    background-color: #f6f8fa;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 70px;
}
/* .remove_all_words:hover {
    background-color: rgb(116, 113, 113);
    color: white;
} */
